#initially-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: blue;
}
.clickable:hover {
  text-decoration: underline;
}
#initially-showing-info {
  display: none;
}
.clickable-info:hover {
  text-decoration: underline;
}
.clickable-info {
  cursor: pointer;
  color: blue;
}

.container {
  text-align: center;
}

.header-section {
  width: 80%;
}

.about-section {
  width: 80%;
}

img {
  border-radius: 50%;
  border: 3px dotted darkblue;
}

.dark-theme {
  background-color: darkgray;
  color: white;
}
.highlights {
  background-color: yellow;
  border: 2px solid blue;
}
